#back{
    background-color:#CE4890;
    color: white;
}

#fin{
    background-color:rgba(0, 0, 0, 0.185);   
}

a{
    color: rgb(0, 0, 0);
}

#an{
    color: rgb(0, 0, 0);
}

#ng{
    color: rgb(255, 255, 255); 
}